form {
  width: 100%;
}

form {
  text-align: center;
  margin: auto;
}
li {
	width: 50%;
  text-align: center;
  margin: auto;
}
ol {
	width: 50%;
  text-align: center;
  margin: auto;
}

h2 {
  text-align: center;
  margin: auto;
}

table {
  text-align: center;
  margin: auto;
  border: 2px;
}
td {
  text-align: left;
  vertical-align: top;
  margin: auto;
}

button {
  text-align: center;
  margin: auto;
}

.edit {
  width: 100%;
  text-align: left;
  margin: auto;
}