form {
  width: 100%;
}

form {
  text-align: center;
  margin: auto;
}
li {
	width: 50%;
  text-align: center;
  margin: auto;
}
ol {
	width: 50%;
  text-align: center;
  margin: auto;
}

h2 {
  text-align: center;
  margin: auto;
}

