

<form [formGroup]="projectForm"  (ngSubmit) = "newProject()">
  <p>Project Name: <input formControlName = "name" type = "text" required/>
    <button type = "submit" [disabled] = projectForm.invalid>Add Project</button></p>
</form>

  <h2 >Project List:</h2>


<ol>
  <li *ngFor = "let project of projectService.projects">
    {{project.name}}
  </li>
</ol>


<form [formGroup]="reviewForm"  (ngSubmit) = "review()">
  <p>Project index: <input formControlName = "index" type = "text" required/>
    <button type = "submit" [disabled] = reviewForm.invalid>Review Project</button></p>
</form>
<form [formGroup]="deleteForm"  (ngSubmit) = "delete()">
  <p>Project index: <input formControlName = "index" type = "text" required/>
    <button type = "submit" [disabled] = reviewForm.invalid>Delete Project</button></p>
</form>
