<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Resource Management</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">SignUp</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>

<mat-toolbar color="primary" class="nave" *ngIf="userIsAuthenticated">
  <ul class="nave">
    <li >
      <a mat-button routerLink="/" routerLinkActive="mat-accent">Resources</a>
    </li>
    <li >
      <a mat-button routerLink="projectList" routerLinkActive="mat-accent">MyProjects</a>
    </li>
  </ul>
</mat-toolbar>
<h1 *ngIf="userIsAuthenticated" style="text-align: center; margin: auto ">Welcome {{username}}</h1>
